img {
	max-width: 100%;
	max-height: 100%;
}

.card-body{
	box-shadow: 0 0 20px 20px rgba(138, 155, 165, 0.15);
}

.col-lg-7{
	box-shadow: 0 0 20px 20px rgba(138, 155, 165, 0.15);
	padding: 5px 5px 5px 5px;
}