<div class="slider center">       
    <div class="slide">
        <div class="cl">
            <img src="1.png" width="690px" >
        </div>
    </div>
    <div class="slide">
      <div class="cl ">
        <img src="2.jpg" width="690px">
      </div>
    </div>
    <div class="slide">
      <div class="cl">
        <img src="3.png" width="690px">
      </div>
    </div>
  <div class="slide">
      <div class="cl">
        <img src="4.jpg" width="690px">
      </div>
    </div>
    <div class="slide">
      <div class="cl">
        <img src="5.jpg" width="690px">
      </div>
    </div>
</div>
<div class="section" >
    <div class="container">
        <router-outlet ></router-outlet>
    </div>
</div>